body
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Righteous', cursive;
}

h1
{
    margin-top: 0px;
    position: relative;
    top: 20px;
   
    color: #D9534F;
}

hr
{
    border-color: #FF5959;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 20%;
}

.foto-diri
{
    height: 250px; 
    position: relative;
    top: 11px;
}

.sub-judul
{

    font-size: 20px;
  
}

.top-container
{
    background-color: #CFFFDC;
    padding: 100px;
    position: relative;
}

.middle-container
{
    background-color: #FFF1BD ;
    position: relative;
    padding: 50px 0;
}
.hello
{
    height: 150px;
}

